@font-face {
    font-family: broadway;
    src: url(../fonts/Broadway.ttf);
}

@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito-Regular.ttf);
}

.broadway {
    font-family: broadway;
}

.nunito {
    font-family: nunito;
}

.logo-dark {
    background-color: rgb(36,32,33) !important;
}

.sidebar-link{
    background-color: rgb(36,32,33) !important;
}

.form-control {
    border-radius: 0px !important;
}

.text-black {
    color: rgb(36,32,33) !important;
}

.btn-amber {
    background-color: #f1b756;
}

.custo-amber {
    background-color: #f1b756 !important;
}

.custo-green {
    background-color: #9af8a7;
}

.custo-blue {
    background-color: #91dcfc;
}

.custo-red {
    background-color: #faae7c;
}

.text-amber {
    color: #f1b756;
}

.btn{
    border-radius: 0px !important;
}

.font-weight-bold{
    font-weight: bold !important;
}

.mini-text {
    font-size: 11px !important;
}